# Avoid accidental Sketch file upload 
###############################################
## Please do not remove line 5 - thanks! 🙂 ##
###############################################
*.sketch
*.svg
*.jpg
*.png
*.eot
*.ttf
*.woff
*.woff2
all.min.css
my notes.md
# Avoid accidental XD or Figma upload if you convert the design file
#######################################################
## Please do not remove lines 11 and 12 - thanks! 🙂 ##
#######################################################
*.xd
*.fig

# Avoid your project being littered with annoying .DS_Store files!
.DS_Store
assets/design/active-states.jpg
